<%- include('v_layout/head') %>
    <body class="d-flex h-100 text-center text-bg-dark">
        <link rel="stylesheet" href="/css-tambahan/cover-beranda.css">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Tokopaedi.com</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Beranda</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/auth/login">Masuk</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/auth/register">Daftar</a>
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <h1>Selamat datang</h1>
                <p class="lead">
                    Online Shop adalah toko yg bisa melakukan transaksi secara daring
                    tanpa perlu datang ke toko fisik.
                    <br>
                    POS (Point of Sales) adalah sebuah sistem untuk mencatat transaksi
                    secara offline/tatap muka.
                </p>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Dibuat dengan semangat pantang menyerah oleh <span class="text-white">Aji Kowiyu</span></p>
            </footer>
        </div>
    </body>
<%- include('v_layout/foot') %>